body {
 background-color: #35654D;
 font-family: "Comic Sans MS", "Comic Sans", cursive;
 color: #B6862C;
 text-align: center;
}

.card {
    background-color:white;
    width: 200px;
    height: 300px;
    border: 1px solid black; 
    padding: 10px; 
    font-size:24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 3px 3px #000000;
}

.top-suit {
    margin-top: 5%;
    margin-bottom: 40%;
    text-align: left;
}

.number {
    margin-top: 40%;
    margin-bottom: 40%;
}

.bottom-suit {
    margin-top: 40%;
    margin-bottom: 5%;
    text-align: right;
    transform: scaleY(-1);
}

.vibrant {
    color:magenta;
}

.dark {
    color:#081E3F;
}